<template>
<section id="header">
  <div class="flexible-content">

    <mdb-navbar class="flexible-navbar blue" light position="top" scrolling>
       <mdb-navbar-brand class="navbar-brand text-white" style="font-size: 25px;">LIBRARY | SYSTEM</mdb-navbar-brand>
      <mdb-navbar-toggler>
        <mdb-navbar-nav left>
          
            
        </mdb-navbar-nav>
        
        <mdb-navbar-nav right>
        <mdb-dropdown tag="li">
          <mdb-dropdown-toggle  class="text-white no-arrow" tag="a" navLink color="" slot="toggle" waves-fixed>
            <mdb-icon fas class="text-white" icon="user"/></mdb-dropdown-toggle>
            
          <mdb-dropdown-menu>
            <div class="dropdown-divider"></div>
             <mdb-dropdown-item><mdb-icon fas class="text-black" icon="power-off"/>  Logout</mdb-dropdown-item>
          </mdb-dropdown-menu>
        </mdb-dropdown>
      </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>
    <main>
      <div class="p-5"></div>
    </main>
  </div>
  </section>
</template>


<script>
import {
  mdbNavbar,
  mdbNavbarNav,
  mdbDropdownToggle,
  mdbDropdown,
  mdbDropdownItem,
  mdbDropdownMenu,
  mdbNavbarToggler,
  mdbIcon,
  waves
} from "mdbvue";


export default {
  name: "Header",
  components: {
    mdbNavbar,
    mdbNavbarNav,
    mdbDropdownToggle,
    mdbDropdown,
    mdbDropdownItem,
    mdbDropdownMenu,
    mdbNavbarToggler,
    mdbIcon,
  },
  data() {
    return {
      activeItem: 1
    };
  },
  beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  mixins: [waves]
};
</script>

<style scoped>
main {
  background-color: #fff;
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.card-header {
   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 250px;
}

.flexible-navbar .navbar-brand {
  transition: padding-left 0.5s;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.sidebar-fixed {
  left: 0;
  top: 50px;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 90%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  background-color: #2196f3;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
.flexible-navbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem
}
.dropdown-toggle:after {
 display: none;
}
</style>
