<template>
  <section id="room">
    <h1 class="mb-sm-0 pt-2">
          <span>Manage Room</span>
    </h1>
    <br>
      <mdb-btn class="btn btn-blue btn-m m-1" size="mm" @click="showaddRoomModal = true">New Room</mdb-btn>


  <mdb-row>
    <mdb-col md="12">
      <mdb-card cascade narrow class="mt-5">
          <mdb-view></mdb-view>
        <mdb-card-body>
            <div class="float-right">
                <mdb-form-inline class="mr-auto mb-4">
                Search: <input class="form-control mr-sm-2 ml-2" type="text" aria-label="Search" right/>
              </mdb-form-inline>
            </div>

          <mdb-tbl fixed bordered hover btn responsive class="text-center">
                <mdb-tbl-head color="light" textblack >     
                  <tr>
                    <th>ID</th>
                    <th>Room No</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Available </th>
                    <th>Date Posted</th>
                    <th>Action</th>
                  </tr>
                </mdb-tbl-head>
              <mdb-tbl-body>
                  <tr v-for="room in rooms" :key="room.id">
                            <td>{{ room.id }}</td>
                            <td>{{ room.room_number }}</td>
                            <td>{{ room.category.name  }}</td>
                            <td>{{ room.category.price | currency }}</td>
                            <td>{{ room.avaliable }}</td>
                            <td>
                                <button class="btn btn-sm btn-info" @click="viewRoom(room)"> <i class="fa fa-eye"></i> View</button>
                                |
                                <button class="btn btn-sm btn-warning" @click="editModal(room)"> <i class="fa fa-edit"></i> Edit</button>
                                <!-- |
                                <button class="btn btn-sm btn-danger" @click="deletes(user.id)"> <i class="fa fa-trash"></i> Delete </button> -->
                            </td>
                            <td>{{ room.created_at |timeAgo }}</td>

                        </tr>
              </mdb-tbl-body>
          </mdb-tbl>  
        </mdb-card-body>
      </mdb-card>
  </mdb-col>
</mdb-row>

  <!--Modal For Add Room -->
          <mdb-modal id="AddRoom" :show="showaddRoomModal" @close="showaddRoomModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Add Room</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                  <label>Room Number</label>
                  <input type="text" id="room_number" v-model="room_number" class="form-control form-control-md"  placeholder="Room No">
                </div>

                <div class="form-group">
                <label>Choose Category</label>
                <select class="form-control" id="category_id" v-model="category_id" 
                    :options="categories" 
                    text-field="name"
                    value-field="id"
                    placeholder="--Select Category--"
                >
                </select>
                </div>
                 
                <div class="form-group">
                  <label>Room Status</label>
                    <select class="form-control" v-model="avaliable">
                      <option value="yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                </div>

                <div class="form-group">
                  <label>Description</label>
                  <textarea type="text" id="description" v-model="description" class="form-control form-control-md"
                    name="description" placeholder="Additional Infomation">
                  </textarea>
                </div>
                
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn type="submit" class="btn btn-blue btn-sm m-2" v-show="!editmode" v-if="!status" @click.prevent="editmode ? updateRoom() : createRoom()">Add Room</mdb-btn>
              </mdb-modal-footer>
          </mdb-modal>

  </section>
</template>

<script>
  export default {
    data(){
            return {
                loading: false,
                action: '',
                status: false,
                bookings: [],
                categories: [],
                form: new({
                    name: '',
                    email: '',
                    check_out_at: '',
                    address: '',
                    check_in_at: '',
                    category_id: '',
                    phone: '',
                    description: '',
                    id: ''
                }),
                editmode: false,
                catego: {},
                display:'',
                searchWord: '',
            }
        },
        methods:{
           editModal: function(category){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(category);
            },

            view: function(booking){
                this.form.reset();
                $('#categoryDetail').modal('show');
                this.catego = booking;
            },

            newModal: function(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },

            emptyform: function(){
                this.form.name= '';
                this.form.description= '';
                this.form.image= '';
            },

            deletes: function(id){
                swal.fire({
                title: 'Are you sure?',
                text: "Room will be removed parmanently",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#dc3545',
                cancelButtonColor: '#353535',
                confirmButtonText: 'Yes, Remove it!'
                }).then((result) => {
                    ///send request
                    if (result.value) {

                        this.form.delete('/admin/room/'+id)
                        .then(()=>{
                            swal.fire(
                                'Deleted!',
                                'Room has been Romoved Successfully.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        })
                        .catch(()=>{
                            swal.fire(
                                "Failed!",
                                "There was something wrong, try again",
                                "warning"
                            );
                        })
                    }

                })
            },
            get(){
                this.loading= true
                this.$Progress.start();
                this.status = true
                axios.get('get/booking').then((response) =>{
                    this.bookings = response.data.bookings
                    this.categories = response.data.categories
                    this.status = false
                    this.$Progress.finish();
                    this.loading = false
                    this.display = 'Currently showing all Bookings'
                }).catch((response)=>{
                    this.status = false
                    this.$Progress.fail();
                    swal.fire(
                        'Error',
                        'Sorry, Cannot load Bookings',
                        'error'
                    )
                    this.loading = false
                    this.display = 'Currently showing all Bookings'

                })
            },

            getCustomer(){
                this.loading= true
                this.$Progress.start();
                this.status = true
                axios.get('get/user/customer').then((response) =>{
                    this.users = response.data.users
                    this.roles = response.data.roles
                    this.status = false
                    this.$Progress.finish();
                    this.loading = false
                    this.display = 'Currently showing all customers'
                }).catch((response)=>{
                    this.status = false
                    this.$Progress.fail();
                    swal.fire(
                        'Error',
                        'Sorry, Cannot load Customers',
                        'error'
                    )
                    this.loading = false
                    this.display = 'Currently showing all customers'

                })
            },
            
            create(){
                this.status =true
                this.$Progress.start()
                this.action = 'Creating Booking'
                this.form.post('booking').then((response) =>{
                    this.status = false
                    this.$Progress.start();
                    Fire.$emit('AfterCreate');
                    swal.fire(
                        'Created',
                        'Booking has been created',
                        'success'
                    )
                    this.form.reset();
                    $('#addNew').modal('hide');
                }).catch((response) =>{
                    this.status = false
                    this.$Progress.fail();
                    swal.fire(
                        'Error',
                        'Sorry, Cannot Create Booking',
                        'error'
                    )

                })
            },

            search(){
                if(this.searchWord){
                    this.loading= true
                    this.$Progress.start();
                    this.status = true
                    axios.get('get/user/search/' + this.searchWord).then((response) =>{
                        this.users = response.data.users
                        this.roles = response.data.roles
                        this.status = false
                        this.$Progress.finish();
                        this.loading = false
                        this.display = 'Showing Search result for ' + this.searchWord
                    }).catch((response)=>{
                        this.status = false
                        this.$Progress.fail();
                        swal.fire(
                            'Error',
                            'Sorry, Cannot Find User',
                            'error'
                        )
                        this.loading = false
                        this.display = 'Showing Search result for ' + this.seachWord

                    })
                }else{
                    swal.fire(
                        'Empty',
                        'Sorry, Cannot Perform Search on empty query',
                        'error'
                    )
                }
                
            },
            update(){
                this.status =true
                this.$Progress.start()
                this.action = 'Updating User Info'
                this.form.put('user/' +this.form.id).then((response) =>{
                    this.status = false
                    this.$Progress.start();
                    Fire.$emit('AfterCreate');
                    swal.fire(
                        'Updated',
                        'User Info has been Updated',
                        'success'
                    )
                    this.form.reset();
                    $('#addNew').modal('hide');
                }).catch((response) =>{
                    this.status = false
                    this.$Progress.fail();
                    swal.fire(
                        'Error',
                        'Sorry, Cannot Update User Info',
                        'error'
                    )

                })
            }
        },
            created: function(){
            this.get()
            Fire.$on('AfterCreate', ()=>{
                this.get();
            });
        }    
        
  }
</script>


<script>
import { 
  mdbFormInline,
  mdbRow, 
  mdbCol, 
  mdbCard,
  mdbView, 
  mdbCardBody, 
  mdbTbl, 
  mdbTblHead, 
  mdbTblBody,
  mdbBtn,
  mdbModal, 
  mdbModalHeader, 
  mdbModalTitle, 
  mdbModalBody, 
  mdbModalFooter
  } from 'mdbvue'

export default {
  name: 'Booking',
  components: {
    mdbFormInline,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbView,
    mdbCardBody,
    mdbTbl,
    mdbTblHead,
    mdbTblBody,
    mdbBtn,
    mdbModal, 
    mdbModalHeader, 
    mdbModalTitle, 
    mdbModalBody,
    mdbModalFooter
  },
  data () {
    return {
      showaddRoomModal: false,
      showBDeleteModal: false,
      showupdatebookModal: false,
    };
  },
}
</script>

<style scoped>
.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}
.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0;
}
</style>
