
/*body*/

body {
  font-family: "Open Sans", sans-serif;
  color: #777;
}

a {
  color: #43aea0;
}

a:hover {
  color: #00d3b8;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Lato", sans-serif;
}



/*Header*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #012b3d;
}

#header.header-scrolled {
  background: #1d443f;
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 70px;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 20px;
    padding: 8px 0;
  }
}

#main {
  margin-top: 80px;
}



/*Navigation Menu*/

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
 
}

.nav-menu a {
  display: block;
  position: relative;
  color: #d2ece9;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  color: #FFFF00;
  text-decoration: none;
}



/*Home cover page*/

#home {
  width: 100%;
  height: 100vh;
  background: url("../img/HopesHotel.png") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -80px;
}

#home:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home .home-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 60px;
  font-weight: 300;
  line-height: 56px;
  color: #fff;
  text-align: justify-all;
}

#home h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}



/*Sections title and bg*/

section {
  padding: 60px 0;
}

.section-bg {
  background-color: #dfe6e8;

}

.contact-section-bg {
  background-color: #676467;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #555;
}

.section-title p {
  margin-bottom: 0;
}



/*About Us*/
.about h3 {
  font-weight: 400;
  font-size: 26px;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding-bottom: 10px;
}

.about ul i {
  font-size: 20px;
  padding-right: 3px;
  color: #70b9b0;
}

.about p:last-child {
  margin-bottom: 0;
}



/*Services*/

.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.services .icon i {
  color: #70b9b0;
  font-size: 42px;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.services .title a {
  color: #343a40;
  transition: 0.3s;
}

.services .icon-box:hover .title a {
  color: #70b9b0;
}

.services .description {
  line-height: 24px;
  font-size: 14px;
}



/* Book  Your Stay Now*/

.bysn {
  width: 100%;
  height: 100vh;
   background: linear-gradient(rgba(1, 41, 42, 0.5), rgba(7, 56, 57, 0.5)), url("../img/book-your-stay-now.jpg") fixed center center;
  background-size: cover;
  position: relative;
  padding: 60px 0;
  margin-bottom: -30px;
}


.bysn h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.bysn p {
  color: #fff;
}

.bysn .cta-btn {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.bysn .cta-btn:hover {
  background: #70b9b0;
  border: 2px solid #70b9b0;
}

.bysn .bysn-email-form input, .bysn .bysn-email-form textarea {
  color: #ffffff;
  background: transparent;
  border-radius: 0;
  box-shadow: none;

  font-size: 14px;
}

.bysn .bysn-email-form button {
  margin-top: 20px;
  background: #a8b732;
  border: 0;
  padding: 10px 90px;
  color: #fff;
  transition: 0.4s;
}

.bysn .bysn-email-form button:hover {
  background: #92cac3;
}



/*Welcome*/

.welcome .HopesHotel {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0);
  padding: 30px 20px;
  background: #fff;
}

.welcome .HopesHotel img {
  max-width: 80%;
  border-radius: 50%;
  margin: 0 0 30px 0;
  transition: 1s;
}

.welcome .HopesHotel h4 {
  font-weight: 700;
   color: #000000;
  margin-bottom: 2px;
  font-family: calibre;
  font-size: 18px;
}

.welcome .HopesHotel span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.welcome .HopesHotel p {
  padding-top: 10px;
  font-size: 14px;
   font-family: arial;
  font-style: italic;
  color: #000000;
}
.welcome .HopesHotel h4:hover {
  color: #FFAE42;
}
.welcome .HopesHotel img:hover {
   transform: scale(1.2);
}



/*Luxury Interior*/

.luxuryinterior .lxHopesHotel {
  text-align: left;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0);
  padding: 30px 20px;
  background: #fff;
}

.luxuryinterior .lxHopesHotel img {
  max-width: 130%;
  border-radius: 3%;
  margin: 0 0 30px 0;
  transition: .8s;
}

.luxuryinterior .lxHopesHotel h4 {
  font-weight: 700;
   color: #bc312a;
  margin-bottom: 2px;
  font-family: calibre;
  font-size: 21px;
  text-align: left;
}

.luxuryinterior .lxHopesHotel span { 
  display: block;
  font-size: 15px;
}

.luxuryinterior .lxHopesHotel p {
  padding-top: 10px;
  font-size: 14px;
   font-family: arial;
  color: #000000;
}
.luxuryinterior .lxHopesHotel h4:hover {
	color: #FFA500;
}
.luxuryinterior .lxHopesHotel img:hover {
	transform: scale(1.1);
	border-radius: 5%;
}



/*A few things worth nothing*/

.aftwn {
  padding: 60px 0;
}

.aftwn .aftwn-item {
  background: #073839;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  border-radius: 10%;
  margin: 0 0 30px 0;
}

.aftwn-item img {
  transition: .4s;
  cursor: pointer;
  border-radius: 10%;
}



.aftwn .aftwn-item .aftwn-info {
  opacity: 0;
  position: absolute;
  transition:1s border-radius;
  text-align: center;
  top: 10%;
  left: 0;
  right: 0;
}

.aftwn .aftwn-item .aftwn-info h3 {
  font-size: 22px;
}

.aftwn .aftwn-item .aftwn-info h3 a {
  color: #fff;
  font-weight: bold;
}

.aftwn .aftwn-item .aftwn-info a i {
  color: #fff;
  font-size: 24px;
  transition: 0.3s;
  margin: 4px;
}
.aftwn-item img:hover {
	transform: scale(1.1);
}



/*add-ons*/

/*meeting and events*/

.event .aoHopesHotel {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0);
  padding: 30px 20px;
  background: #fff;
}

.event .aoHopesHotel h4 {
  font-weight: 700;
   color: #000000;
  margin-bottom: 3px;
  font-family: calibre;
  font-size: 17px;
  transition: .1s;
}

.event .aoHopesHotelspan {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.event .aoHopesHotel p {
  padding-top: 10px;
  font-size: 14px;
   font-family: arial;
  font-style: italic;
  color: #000000;
}
.event .aoHopesHotel h4:hover {
	color: #FF0000;
	transform: scale(1.1);
}


/* Contact Us*/

.contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}

.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.contact .info {
  color: #ffffff;
}

.contact .info i {
  font-size: 32px;
  color: #70b9b0;
  float: left;
  line-height: 1;
}

.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}


/*footer*/

#footer {
  background: #535054;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

