<template>
  <div class="flexible-content">

    <mdb-navbar class="flexible-navbar blue" light position="top" scrolling>
       <mdb-navbar-brand class="navbar-brand text-white" style="font-size: 20px;">Hotel Booking System</mdb-navbar-brand>
      <mdb-navbar-toggler>
        <mdb-navbar-nav left>
          
            
        </mdb-navbar-nav>
        
        <mdb-navbar-nav right>
        <mdb-dropdown tag="li">
          <mdb-dropdown-toggle  class="text-white" tag="a" navLink color="" slot="toggle" waves-fixed>
            <mdb-icon fas class="text-white" icon="user"/></mdb-dropdown-toggle>
            
          <mdb-dropdown-menu>
            <div class="dropdown-divider"></div>
             <mdb-dropdown-item><mdb-icon fas class="text-black" icon="power-off"/>  Logout</mdb-dropdown-item>
          </mdb-dropdown-menu>
        </mdb-dropdown>
      </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>

    <div class="sidebar-fixed position-fixed">
      
      <div class="dropdown-divider"></div>
      <br>

      <mdb-list-group class="list-group-flush">
        
        <router-link to="/dashboard" @click.native="activeItem = 2">
          <mdb-list-group-item  :action="true"  :class="activeItem === 2 && 'active'">
            <mdb-icon icon="tachometer-alt" class="mr-3"/> Dashboard</mdb-list-group-item>
        </router-link>

        <router-link to="/booking" @click.native="activeItem = 3">
          <mdb-list-group-item :action="true" :class="activeItem === 3 && 'active'" >
            <mdb-icon icon="book" class="mr-3" />Book</mdb-list-group-item >
        </router-link>

        <router-link to="/room" @click.native="activeItem = 4">
          <mdb-list-group-item :action="true" :class="activeItem === 4 && 'active'" >
            <mdb-icon icon="calendar" class="mr-3" />Room</mdb-list-group-item >
        </router-link>

        <router-link to="/categories" @click.native="activeItem = 5">
          <mdb-list-group-item :action="true" :class="activeItem === 5 && 'active'" >
            <mdb-icon icon="calendar" class="mr-3" />Category</mdb-list-group-item >
        </router-link>

      </mdb-list-group>
    </div>
    <main>
      <div class="mt-5 p-5">
        <router-view></router-view>
      </div>
    </main>
  </div>
</template>

<script>
import {
  mdbNavbar,
  mdbNavbarNav,
  mdbDropdownToggle,
  mdbDropdown,
  mdbDropdownItem,
  mdbDropdownMenu,
  mdbNavbarToggler,
  mdbIcon,
  mdbListGroup,
  mdbListGroupItem,
  waves
} from "mdbvue";


export default {
  name: "LibrarySystem",
  components: {
    mdbNavbar,
    mdbNavbarNav,
    mdbDropdownToggle,
    mdbDropdown,
    mdbDropdownItem,
    mdbDropdownMenu,
    mdbNavbarToggler,
    mdbListGroup,
    mdbListGroupItem,
    mdbIcon,
  },
  data() {
    return {
      activeItem: 1
    };
  },
  beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  mixins: [waves]
};
</script>

<style scoped>
main {
  background-color: #fff;
  font-size: 14px;
  color: #444444;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 250px;
}

.flexible-navbar .navbar-brand {
  transition: padding-left 0.5s;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.sidebar-fixed {
  left: 0;
  top: 50px;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 90%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  background-color: #2196f3;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
.flexible-navbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem
}
.dropdown-toggle:after {
 display: none;
}
</style>
