<template>
  <section id="bookmanagement">
    <h1 class="mb-sm-0 pt-2">
          <span>Book Management</span>
    </h1>
    <br>
      <mdb-btn class="btn btn-blue btn-m m-1" size="mm" @click="showaddbookModal = true">Add Books</mdb-btn>
          
          <!--Modal For Add Books -->
          <mdb-modal id="AddBook" :show="showaddbookModal" @close="showaddbookModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Add Book</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" v-model="bookname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="author">Author</label>
                <input type="text" id="author" v-model="author" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="copies">Copies Available</label>
                <input type="text" id="copies" v-model="copies" class="form-control form-control-md">
                </div>
                
                <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" v-model="category">
                    <option>--Select Category--</option>
                    <option value="Technologies">Technologies</option>
                    <option value="Fictions">Fictions</option>
                    <option value="Romance">Romance</option>
                </select>
                </div>
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-blue btn-sm m-2" @click="AddBook">Add Book</mdb-btn>
              </mdb-modal-footer>
          </mdb-modal>

        <!--Modal For Update Books -->
          <mdb-modal id="UpdateBook" :show="showupdatebookModal" @close="showupdatebookModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Add Book</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" v-model="bookname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="author">Author</label>
                <input type="text" id="author" v-model="author" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="copies">Copies Available</label>
                <input type="text" id="copies" v-model="copies" class="form-control form-control-md">
                </div>
                
                <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" v-model="category">
                    <option>--Select Category--</option>
                    <option value="Technologies">Technologies</option>
                    <option value="Fictions">Fictions</option>
                    <option value="Romance">Romance</option>
                </select>
                </div>
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-blue btn-sm m-2"  @click="UpdateBook(SelectedBook)">Add Book</mdb-btn>
              </mdb-modal-footer>
          </mdb-modal>

        <!--Modal For Delete -->
          <mdb-modal id="DeleteModal" :show="showBDeleteModal" @close="showBDeleteModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Wooh!</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <p><span>Are you sure you want to delete the record?</span></p>
            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-blue btn-sm m-2" color="blue" @click.native="showBDeleteModal = false">Cancel</mdb-btn>
                <mdb-btn class="btn btn-danger btn-sm m-0" color="danger"  @click="DeleteBook(SelectedBook)">Delete</mdb-btn>
                </mdb-modal-footer>
          </mdb-modal>

  <mdb-row>
    <mdb-col md="12">

      <mdb-card cascade narrow class="mt-5">
          <mdb-view></mdb-view>
        <mdb-card-body>
            <div class="float-right">
                <mdb-form-inline class="mr-auto mb-4">
                Search: <input class="form-control mr-sm-2 ml-2" type="text" aria-label="Search" right/>
              </mdb-form-inline>
            </div>

          <mdb-tbl fixed bordered hover btn responsive class="text-center">
                <mdb-tbl-head color="light" textblack >     
                  <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Copies</th>
                    <th>Category</th>
                    <th>Action</th>
                  </tr>
                </mdb-tbl-head>
              <mdb-tbl-body>
                  <tr v-for="(Book, index) in BookModelFilter" :key="index">
                    <td>{{ Book.bookname }}</td>
                    <td>{{ Book.author }}</td>
                    <td>{{ Book.copies }}</td>
                    <td>{{ Book.category }}</td>
                    <td>
                      <mdb-btn  type="button"  color="blue" floating size="sm" @click="ToBeUpdated(index)"  mdb-modal.@click="showupdatebookModal = true" waves-fixed><mdb-icon icon="edit"/></mdb-btn>
                      <mdb-btn  type="button"  color="danger" floating size="sm m-1"  @click="SelectedBook = index" mdb-modal.@click="showPDeleteModal = true">
                      <mdb-icon icon="trash"/></mdb-btn>
                      <mdb-btn  type="button"  color="success" floating size="sm" waves-fixed><mdb-icon icon="book"/></mdb-btn>
                      <mdb-btn  type="button"  color="warning" floating size="sm m-1" waves-fixed><mdb-icon icon="reply"/></mdb-btn>
                    </td>
                  </tr>
              </mdb-tbl-body>
          </mdb-tbl>  

        </mdb-card-body>
      </mdb-card>

  </mdb-col>
</mdb-row>

  </section>
</template>

<script>
import { 
  mdbIcon,
  mdbFormInline,
  mdbRow, 
  mdbCol, 
  mdbCard,
  mdbView, 
  mdbCardBody, 
  mdbTbl, 
  mdbTblHead, 
  mdbTblBody,
  mdbBtn,
  mdbModal, 
  mdbModalHeader, 
  mdbModalTitle, 
  mdbModalBody, 
  mdbModalFooter
  } from 'mdbvue'

export default {
  name: 'BookManagement',
  components: {
    mdbIcon,
    mdbFormInline,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbView,
    mdbCardBody,
    mdbTbl,
    mdbTblHead,
    mdbTblBody,
    mdbBtn,
    mdbModal, 
    mdbModalHeader, 
    mdbModalTitle, 
    mdbModalBody,
    mdbModalFooter
  },
  data () {
    return {
      showaddbookModal: false,
      showBDeleteModal: false,
      showupdatebookModal: false,

       bookname: "",
       author: "",
       copies: "",
       category: "",
       BookModel: [],
       SelectedBook: "",
       Search: "",
    };
  },
  methods: {
   AddBook() {
     this.BookModel.unshift(this.Form);
     console.log(this.form);
     this.HideModal();
   },
   UpdateBook(index) {
     console.log(index);
     this.BookModel.splice(index, 1, this.Form);

     this.HideModal();
   },
   ToBeUpdated(index) {
     this.SelectedBook = index;
     this.bookname = this.BookModel[index].bookname;
     this.author = this.BookModel[index].author;
     this.copies= this.BookModel[index].copies;
     this.category = this.BookModel[index].category;
   },
   DeleteBook(index) {
     this.BookModel.splice(index, 1);

     this.HideModal();
   },
   HideModal() {
     this.$refs.modal.hide();
     this.FormReset();
   },
   FormReset() {
     this.Form = {
       bookname: "",
       author: "",
       copies: "",
       category: "",
     };

     this.SelectedBook = "";
   },
 },
  computed: {
   BookModelFilter() {
     return this.BookModel.filter((Book) => {
       return this.Search.toLowerCase()
         .split(" ")
         .every((v) => Book.bookname.toLowerCase().includes(v));
     });
   },
 },
}
</script>

<style scoped>
.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}
.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0;
}
</style>
