<template>
  <section id="dashboard">
    <h1 class="mb-sm-0 pt-2">
          <span>Dashboard</span>
    </h1>

    <section>
      <mdb-row class="mt-5">
          <mdb-col md="7" class="mb-4">
              <mdb-card>
                <mdb-card-header> Barrowed and Returned Books </mdb-card-header>
                  <mdb-card-body>
                      <div style="display: block">
                        <mdb-bar-chart :data="barChartData" :options="barChartOptions" :height="350"/>
                      </div>
                  </mdb-card-body>
              </mdb-card>
          </mdb-col>

          <mdb-col md="5" class="mb-4">
              <mdb-card class="mb-4">
            <mdb-card-header> Popular Books Genre </mdb-card-header>
            <mdb-card-body>
              <div style="display: block">
                <mdb-doughnut-chart :data="doughnutChartData" :options="doughnutChartOptions" :height="350"/>
              </div>
            </mdb-card-body>
          </mdb-card>
          </mdb-col>

      </mdb-row>
    </section>
    
  </section>
</template>

<script>
import { 
  mdbRow, 
  mdbCol, 
  mdbCard, 
  mdbCardBody, 
  mdbCardHeader,
  mdbBarChart,
  mdbDoughnutChart,
  } from 'mdbvue'

export default {
  name: 'Dashboard',
  components: {
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardBody,
    mdbCardHeader,
    mdbBarChart,
    mdbDoughnutChart,
  },
  data () {
    return {

      barChartData: {
        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
        datasets: [
          {
            label: 'Barrowed',
            data : [180, 300, 220, 540, 401, 500, 160],
            backgroundColor: "#30a5ff",
            borderWidth: 1
          }, {
            label: 'Returned',
            data : [81, 455, 318, 114, 291, 415, 80],
            backgroundColor: 'rgba(48, 164, 255, 0.2)',
            borderWidth: 1
          }
        ]
      },

      barChartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            barPercentage: 1,
            gridLines: {
              display: true,
              color: 'rgba(0, 0, 0, 0.1)'
            }
          }],
          yAxes: [{
            gridLines: {
              display: true,
              color: 'rgba(0, 0, 0, 0.1)'
            },
            ticks: {
              beginAtZero: true
            }
          }]
        }
      },

      doughnutChartData: {
        labels: ['Technologies', 'Fictions', 'Romance'],
        datasets: [
          {
            data: [350, 239, 158],
            backgroundColor: ['#30a5ff', '#ffb53e', '#f9243f'],
            hoverBackgroundColor: ['#62b9fb', '#fac878', '#f6495f'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
          }
        ]
      },
      doughnutChartOptions: {
        responsive: true,
        maintainAspectRatio: false
      }

    }
  }
}
</script>

<style scoped>
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.card-header {
   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
</style>
