<template>
  <section id="patronmanagement">
    <h1 class="mb-sm-0 pt-2">
          <span>Patron Management</span>
    </h1>
    <br>
    <mdb-btn class="btn btn-blue btn-m m-1" size="mm" @click.native="showaddPatronModal = true">Add Patrons</mdb-btn>
        
        <!--Modal For Add Patrons -->
       <mdb-modal id="AddPatron" :show="showaddPatronModal" @close="showaddPatronModal = false">
            <mdb-modal-header >
                <mdb-modal-title>Add Patron</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                <label for="Fname">First Name</label>
                <input type="text" id="Fname" v-model="Fname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="Mname">Middle Name</label>
                <input type="text" id="Mname" v-model="Mname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="Lname">Last Name</label>
                <input type="text" id="Lname" v-model="Lname" class="form-control form-control-md">
                </div>
                
                <div class="form-group">
                <label for="Eaddress">Email Address</label>
                <input type="text" id="Eaddress" v-model="Eaddress" class="form-control form-control-md">
                </div>
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-blue btn-sm m-2" id="btnregistering" @click="AddPatron">Add Patron</mdb-btn>
                </mdb-modal-footer>
          </mdb-modal>

        <!--Modal For Update Patrons -->
       <mdb-modal id="UpdatePatron" :show="showupdatePatronModal" @close="showupdatePatronModal = false">
            <mdb-modal-header >
                <mdb-modal-title>Add Patron</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <div>
                <div class="form-group">
                <label for="Fname">First Name</label>
                <input type="text" id="Fname" v-model="Fname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="Mname">Middle Name</label>
                <input type="text" id="Mname" v-model="Mname" class="form-control form-control-md">
                </div>

                <div class="form-group">
                <label for="Lname">Last Name</label>
                <input type="text" id="Lname" v-model="Lname" class="form-control form-control-md">
                </div>
                
                <div class="form-group">
                <label for="Eaddress">Email Address</label>
                <input type="text" id="Eaddress" v-model="Eaddress" class="form-control form-control-md">
                </div>
              </div>

            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-blue btn-sm m-2" id="btnregistering" @click="ToBeUpdated(SelectedPatron)">Add Patron</mdb-btn>
                </mdb-modal-footer>
          </mdb-modal>

        <!--Modal For Delete -->
        <mdb-modal id="DeleteModal" :show="showPDeleteModal" @close="showPDeleteModal = false">
            <mdb-modal-header>
                <mdb-modal-title>Wooh!</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
              <p><span>Are you sure you want to delete the record?</span></p>
            </mdb-modal-body>
              <mdb-modal-footer>
                <mdb-btn class="btn btn-blue btn-sm m-2" color="blue" @click="showPDeleteModal = false">Cancel</mdb-btn>
                <mdb-btn class="btn btn-danger btn-sm m-0" color="danger" @click="DeletePatron(SelectedPatron)">Delete</mdb-btn>
              </mdb-modal-footer>
        </mdb-modal>

    <mdb-row>
      <mdb-col md="12">
        <mdb-card cascade narrow class="mt-5">
         
          <mdb-view></mdb-view>
          <mdb-card-body>
            
            <div class="float-right">
              <mdb-form-inline class="mr-auto mb-4">
                Search: <input class="form-control mr-sm-2 ml-2" type="text" aria-label="Search" right/>
              </mdb-form-inline>
            </div>

  <mdb-tbl fixed bordered hover btn responsive class="text-center">
     <mdb-tbl-head color="light" textblack>
      
      <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Date Registered</th>
        <th>Action</th>
      </tr>

    </mdb-tbl-head>
    <mdb-tbl-body>

                 <tr v-for="(Patron, index) in PatronModelFilter" :key="index">

                    <td>{{ Patron.Fname }}</td>
                    <td>{{ Patron.Mname }}</td>
                    <td>{{ Patron.Lname }}</td>
                    <td>{{ Patron.Eaddress }}</td>
                    <td>
                      {{
                        Patron.DateRegistered | dateFormat("DD MMMM, YYYY")
                      }}
                    <td>
                      <mdb-btn  type="button"   color="blue" floating size="sm" @click="ToBeUpdated(index)" mdb-modal.@click="showupdatePatronModal = true" waves-fixed><mdb-icon icon="edit"/></mdb-btn>
                      <mdb-btn  type="button"   color="danger" floating size="sm m-1"  @click="SelectedPatron = index" mdb-modal.@click="showPDeleteModal = true">
                      <mdb-icon icon="trash"/></mdb-btn>
                    </td>
                  </tr>

              </mdb-tbl-body>
            </mdb-tbl>
          </mdb-card-body>
        </mdb-card>
      </mdb-col>
    </mdb-row>

  </section>
</template>

<script>
import { 
  mdbIcon,
  mdbFormInline,
  mdbRow, 
  mdbCol, 
  mdbCard, 
  mdbView, 
  mdbCardBody, 
  mdbTbl, 
  mdbTblHead, 
  mdbTblBody,
  mdbBtn,
  mdbModal, 
  mdbModalHeader, 
  mdbModalTitle, 
  mdbModalBody,
  mdbModalFooter
  } from 'mdbvue'

export default {
  name: 'PatronManagement',
  components: {
    mdbIcon,
    mdbFormInline,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbView,
    mdbCardBody,
    mdbTbl,
    mdbTblHead,
    mdbTblBody,
    mdbBtn,
    mdbModal, 
    mdbModalHeader, 
    mdbModalTitle, 
    mdbModalBody,
    mdbModalFooter
  },
  data () {
    return {
      showPDeleteModal: false,
      showaddPatronModal: false,
      showupdatePatronModal: false,

      Fname: "",
       Mname: "",
       Lname: "",
       Eaddress: "",
       DateRegistered: new Date(),
    
      PatronModel: [],
      SelectedPatron: "",
      Search: "",
    };
  },
  
 methods: {
  AddPatron() {
     this.PatronModel.unshift(this.Form);
     console.log(this.form);
     this.HideModal();
   },
   UpdatePatron(index) {
     console.log(index);
     this.PatronModel.splice(index, 1, this.Form);

     this.HideModal();
   },
   ToBeUpdated(index) {
     this.SelectedPatron = index;
     this.Fname = this.PatronModel[index].Fname;
     this.Mname = this.PatronModel[index].Mname;
     this.Lname = this.PatronModel[index].Lname;
     this.Eaddress = this.PatronModel[index].Eaddress;
   },
   DeletePatron(index) {
     this.PatronModel.splice(index, 1);

     this.HideModal();
   },
   HideModal() {
     this.$refs.modal.hide();
     this.FormReset();
   },
   FormReset() {
     this.Form = {
       Fname: "",
       Mname: "",
       Lname: "",
       Eaddress: "",
       DateRegistered: new Date(),
     };

     this.SelectedPatron = "";
   },
 },
  computed: {
   PatronModelFilter() {
     return this.PatronModel.filter((Patron) => {
       return this.Search.toLowerCase()
         .split(" ")
         .every((v) => Patron.Fname.toLowerCase().includes(v));
     });
   },
 },
}
</script>

<style scoped>
.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}
.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0;
}
</style>
